html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    min-width: 1100px;
    min-height: 600px;
}
body {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    background: linear-gradient(to bottom right, #965db5 , #4ea2d1); /* 标准的语法 965db5 4ea2d1*/
}
input,
button,
select,
textarea{
    outline:none;
}
.headerContainer {
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #1a1a1a;
    box-shadow: 2px 2px 2px #080808;
}
.bodyContainer {
    width: 100%;
    background: -webkit-linear-gradient(left top, #965db5 , #4ea2d1); /* Safari 5.1 - 6.0 744383  579ecf*/
    background: -o-linear-gradient(bottom right, #965db5, #4ea2d1); /* Opera 11.1 - 12.0 73428a  487bbc*/
    background: -moz-linear-gradient(bottom right, #965db5, #4ea2d1); /* Firefox 3.6 - 15 744483  5ca5d0*/
    background: linear-gradient(to bottom right, #965db5 , #4ea2d1); /* 标准的语法 965db5 4ea2d1*/
}
/*header部 start*/
.title {
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    color: #2196da;
    margin-left: -40px;
}
.logo {
    display: inline-block;
    position: relative;
    top: -16px;
    left: -15px;
    width: 150px;
    height: 50px;
    background: url('../img/gemiiLogo.png') no-repeat left;
    background-size: 160px;
}
.out {
    display: inline-block;
    float: right;
    width: 30px;
    height: 50px;
    background: url('../img/out.png') no-repeat left;
    background-size: 20px;
}
.out:active {
    background-size: 19px;
}
/*header部 end*/
/*main start*/
.mainDiv,
.friendsTask{
    position: relative;
    padding: 10px;
}
.detailsMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.detailsDiv {
    position: relative;
    background: rgba(0,0,0,0.7);
    border: 1px solid #1c3549;
    border-radius: 5px;
    padding: 10px;
    color: #eeeeee;
    min-width: 100px;
    width: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}
.detailsTitle {
    margin: 0 auto 8px auto;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}
.detailsContext {
    width: 100%;
    word-wrap: break-word;
    word-break: normal;
    font-size: 1rem;
}
#alertUplode {
    color: #ff5555;
}
.detailsText {
    color: #cccccc;
    font-size: 1.1rem;
}
#sendImg {
    /*width: 430px;*/
    width: 100%;
    margin: 8px auto;
}
#sendFriends,
#sendHelpers{
    width: 430px;
    margin: 8px auto 0 auto;
    word-wrap: break-word;
    word-break: normal;
}
.sendFriends,
.sendHelpers{
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #8ea8be;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}
.friendsTask {
    width: 100%;
    height: 100%;
    color: #ffffff;
    overflow: auto;
}
.mainDiv input ,
.mainDiv button,
.friendsTask button,
.friendsTask input,
.friendsTask textarea{
    background: transparent;
    margin-right: 15px;
    border: 1px solid #898a9d;
    border-radius: 3px;
    color: #ffffff;
}
.friendsTask button:hover,
.mainDiv button:hover{
    background-color: #1c3549;
    cursor: pointer;
}
#taskTitleSearch {
    width: 300px;
}
#taskstatus{
    background: transparent;
    margin-right: 15px;
    border: 1px solid #898a9d;
    border-radius: 3px;
    color: #ffffff;
    width: 130px;
    height: 32px;
}
.tableA {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}
.tableContainer {
    position: relative;
    width: 90%;
    height: 100%;
}
.taskTable {
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #ffffff;
    border-bottom: 1px solid #8ea8be;
}
#taskManagement{
    display: block;
    width: 100%;
    max-height: 510px;
    overflow: auto;
    border-top: 1px solid #898a9d;
}
#taskManagement tr{
    width: 100%;
    display: block;
}
.taskTable tbody tr:nth-of-type(odd) {
    background: rgba(0,0,0,0.2);
}
.taskTable tbody td{
    padding: 8px;
}
#taskManagement tr{
    padding: 8px 0;
}
#taskManagement td{
    display: inline-table;
    line-height: 20px;
    word-wrap: break-word;
    word-break: normal;
    text-align: center;
}
#taskManagement td{
    width: 150px;
}
#taskManagement td:first-child{
    width: 70px;
}
#taskManagement td:nth-child(2){
    width: 230px;
}
#taskManagement::-webkit-scrollbar {
    display: none;
}
#taskManagement tr:hover{
    background: rgba(255,255,255,0.3);
}
.theadDiv {
    display: inline-block;
    width: 150px;
    text-align: center;
}
.theadC div:first-child {
    width: 70px;
}
.theadC div:nth-child(2) {
    width: 230px;
}
.theadC {
    padding-top: 10px;
    padding-bottom: 3px;
}
.pagination>li>a {
    background: transparent;
    color: #ffffff;
    border: 1px solid #898a9d;
}
.textAlignCenter {
    padding: 0;
    text-align: center;
}
.textAlignCenter ul{
    padding: 0;
    margin: 0;
}
.pagination>li>a:hover,
.pagination>li>a:focus{
    background-color: #1c3549;
    cursor: pointer;
    border: 1px solid #898a9d;
    color: #ffffff;
}
.pagination>.activeli>a,
.pagination>.activeli>span,
.pagination>.activeli>a:hover,
.pagination>.activeli>span:hover,
.pagination>.activeli>a:focus,
.pagination>.activeli>span:focus{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #1c3549;
    border: 1px solid #898a9d;
}
.none-box {
    display: none;
}
/*新建朋友圈 start*/
.hrStyle {
    display: inline-block;
    width: 1200px;
    padding: 0;
    margin: 6px;
}
.formMargin {
    margin-top: 5px;
    margin-bottom: 5px;
}
.partition {
    width: 90%;
    overflow-x: hidden;
    padding: 10px;
    white-space:nowrap;
}
.partitionCon{
    margin-left: 20px;
}
.fileButton {
    position: relative;
}
.fileButton span{
    position: absolute;
    top: 10px;
    left: 100px;
    color: #ff5555;
}
#fileB {
    width: 20px;
    visibility: hidden;
}
#addImg {
    position: absolute;
    top: 0;
    left: 0;
}
#taskTitle {
    width: 450px;
}
.textareaSize {
    width: 450px;
    height: 100px !important;
}
.partition input {
    margin-right: 4px;
}
.partition span {
    margin-right: 30px;
}
.partitionText{
    color: #1a1a1a;
}
.fa-smile-o:before {
    content: url('../img/qq.png');
    size: 10px;
 }
.emoji-items-wrap1 {
    background: transparent !important;
}
#helperGroup,
#day,
#time{
    background: transparent;
    margin-right: 15px;
    border: 1px solid #898a9d;
    border-radius: 3px;
    color: #ffffff;
    width: 130px;
    margin-top: 20px;
    height: 26px;
}
.helperCon {
    display: inline;
    float: left;
    margin-right: 30px;
}
.helperCon:after{
    clear: both;
}
.selectHelper {
    display: inline-block;
    float: left;
    padding: 2px 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #8ea8be;
}
#selectList {
    width: 400px;
    word-wrap: break-word;
    word-break: normal;
}
.online {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #aaaaaa;
    border-radius: 7px;
    margin-right: 50px;
    background: #23ff08;
    transform: translateY(2px);
}
.offline {
    background: #9b0008;
}
#helperform span {
    margin-right: 10px;
}
#selectAll{
    padding-top: 2px;
    padding-bottom: 2px;
}
.formButton {
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#previewer {
    width: 430px;
    margin-bottom: 5px;
}
.preview {
    width: 200px;
    height: 200px;
}
.upload_append_list{
    position:relative;
    width:130px;
    /*max-width:200px;*/
    height:130px;
    display:inline-block;
    margin-right:10px;
    margin-top:10px;
    background-color:#ccc;
    border:2px solid #ccc;
    box-sizing:border-box;
    border-radius:3px;
}
.upload_delete{
    position:absolute;
    display:block;
    top:-10px;
    right:-10px;
    width:20px;
    height:20px;
    border-radius:20px;
    background: #535353 url('../img/delete.png') no-repeat center center;
    background-size:contain;
}
/*新建朋友圈  end*/